.container {
    width: 22rem;
    height: 22rem;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.add-favorites-button {
    position: absolute;
    top: 0;
    left: -1;
    right: 0;
    margin: 0 auto;
}
 .add-favorites-button-icon {
    color: #fff
 }

 .heroe-name {
     width: 100%;
     background-color: #404040;
     color: white;
     position: absolute;
     top: 90%;
     left: 0;
     right: 0;
     margin: 0 auto;
 }